* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calculator {
    background-color: black;
    width: 500px;
    height: 840px;
    border-radius: 50px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .display {
    height: 250px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:2px solid rgba(255, 255, 255, 0.17);
    border-radius: 50px;
    margin-bottom: 20px;
  }

.display-bottom{
  font-size: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}


  .buttons-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 100px;
    width: 100px;
    transition: 0.05s;
  }
  .button:hover {
    background-color: #535353;
  }
  .btn-grey {
    color: black;
    background-color: #A5A5A5;
  }
  .btn-orange {
    background-color: #F1A33C;
  }
  .btn-darkgrey {
    background-color: #333;
  }
  .btn-zero {
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 215px;
  }